In [1]:
# -*- coding: utf-8 -*-

import pandas as pd
import sys, getopt
from sarimaxModel import forcastStocks
from loadstocks import loadStocksByTickers
from loadstocks import loadAuInfoTickersFromYahooExcel
# We will look at stock prices over the past year, starting at January 1, 2016

path='/root/pythondev/JanePython/'
inputfile = path+'Yahoo.xlsx'
outputfile = 'stocks1.csv'
rlow=0
rmax=500


tickers=loadAuInfoTickersFromYahooExcel(inputfile)
tickers=tickers[int(rlow):int(rmax)]

len(tickers)

8

In [2]:
def getStartDate(end,months):
    day=end.day
    year=end.year-months//12-1
    month=months%12+1
    start=datetime.datetime(year,month,day)
    return start
months=18

In [3]:
import pandas as pd
import pandas_datareader.data as web   # Package and modules for importing data; this code may change depending on pandas version
import datetime
import numpy as np
import os
import random
from datetime import timedelta
import statsmodels.api as sm
# SARIMAX example
from statsmodels.tsa.statespace.sarimax import SARIMAX
import sys, getopt
scraped_tickers=tickers
filename=outputfile
end = datetime.date.today()
savepath=path+filename
errorpath=path+'errors.csv'
#end =datetime.datetime(end.year,end.month,1).date()

In [33]:
file=pd.DataFrame()
ds =pd.DataFrame()
errors=pd.DataFrame([],columns=['item'])
errorexists=os.path.isfile(errorpath)
print('exists error',errorexists)
if(errorexists):
    errors=pd.read_csv(errorpath,index_col=0)
exists = os.path.isfile(savepath)
print(savepath,'exists file',exists)
if exists:
    ds=pd.read_csv(savepath,parse_dates=['Date'],index_col='Date')

for item in scraped_tickers:
    try:
        print(len(errors)==0 , errors['item'].str.contains(item).any())
        if  len(errors)>0 and errors['item'].str.contains(item).any():
            print(item,'exists in errors.csv')
        else:
            if(exists and ds.columns.contains(item)):
                start=ds[item].index[-1].date()
                print(item,' exist date::',start,end,start<end)
                res=None

                if(start<end):
                    remains=web.DataReader(item,"yahoo",start,end)['Adj Close']              
                    res=file[item].combine_first(remains)
                else:
                    res=file[item]

                ds[item] =res
            else:
                start=getStartDate(end,months).date()
                print(item,'new date2::',start,end,start<end)
                res=web.DataReader(item,"yahoo",start,end)['Adj Close']
                ds[item]=res
    
    except Exception as e: 

        da=pd.DataFrame([item],columns=errors.columns)
        if(not str(e).find('No data fetched for symbol')==-1):
            print(item,'write in errors.csv',e)
            errors=errors.append(da,ignore_index=True)
        pass
if(ds.isna().all().sum()>0):
    ds[ds.columns[ds.isna().all()]].dropna(axis=1,inplace=True)
ds.columns[ds.isna().any()].any()
#savepath='/Users/pengwang/Dropbox/finance/ttest.csv'
errors.to_csv(errorpath)
ds.to_csv(savepath)

exists error True
/root/pythondev/JanePython/stocks1.csv exists file True
False True
BBG.AX exists in errors.csv==
False False
PMV.AX  exist date:: 2019-05-07 2019-05-07 False
False False
KMD.AX  exist date:: 2019-05-07 2019-05-07 False
False True
SFH.AX exists in errors.csv==
False True
ORL.AX exists in errors.csv==
False False
SBB.AX  exist date:: 2019-05-07 2019-05-07 False
False True
RCG.AX exists in errors.csv==
False False
NBL.AX  exist date:: 2019-05-07 2019-05-07 False

In [84]:

ds[ds.columns[ds.notna().all()]]

               PMV.AX    KMD.AX    NBL.AX
Date
2017-07-07  12.420189  1.848341  1.557278
2017-07-10  12.602980  1.902972  1.566385
2017-07-11  12.583738  1.975813  1.566385
2017-07-12  12.641462  1.930287  1.580045
2017-07-13  12.814632  1.966708  1.580045
2017-07-14  13.026286  1.957603  1.639240
2017-07-17  12.862736  1.930287  1.675668
2017-07-18  12.891598  1.893867  1.675668
2017-07-19  12.881977  1.893867  1.675668
2017-07-20  12.737667  1.930287  1.639240
2017-07-21  12.708806  1.930287  1.639240
2017-07-24  12.699185  1.939393  1.666561
2017-07-25  12.853115  1.948498  1.675668
2017-07-26  12.939700  1.912077  1.675668
2017-07-27  13.055147  1.975813  1.675668
2017-07-28  12.843495  1.921182  1.675668
2017-07-31  13.132112  1.921182  1.730309
2017-08-01  13.180216  1.912077  1.730309
2017-08-02  13.228318  1.912077  1.812271
2017-08-03  13.228318  1.912077  1.812271
2017-08-04  13.112871  1.875656  1.866912
2017-08-07  13.151354  1.902972  1.784950
2017-08-08  13.016665  1.902972  1.784950
2017-08-09  13.180216  1.875656  1.830485
2017-08-10  13.045527  1.930287  1.821378
2017-08-11  12.728047  1.902972  1.821378
2017-08-14  12.651082  1.875656  1.775843
2017-08-15  12.583738  1.902972  1.775843
2017-08-16  12.497153  1.957603  1.775843
2017-08-17  12.708806  1.948498  1.757629
...               ...       ...       ...
2019-03-21  16.400000  2.380000  3.030000
2019-03-24  15.800000  2.340000  2.990000
2019-03-25  15.960000  2.130000  2.990000
2019-03-26  16.030001  2.200000  2.900000
2019-03-27  16.370001  2.220000  2.920000
2019-03-28  16.260000  2.120000  2.850000
2019-03-31  16.129999  2.250000  2.850000
2019-04-01  16.100000  2.300000  2.890000
2019-04-02  16.049999  2.320000  2.870000
2019-04-03  15.650000  2.350000  2.950000
2019-04-04  15.650000  2.250000  2.820000
2019-04-08  15.900000  2.180000  2.880000
2019-04-09  15.920000  2.160000  2.900000
2019-04-10  15.930000  2.170000  2.900000
2019-04-11  15.940000  2.150000  2.870000
2019-04-12  16.120001  2.140000  2.890000
2019-04-15  15.960000  2.130000  2.790000
2019-04-16  16.360001  2.170000  2.700000
2019-04-17  16.389999  2.210000  2.820000
2019-04-18  16.559999  2.210000  2.770000
2019-04-23  16.670000  2.240000  2.770000
2019-04-24  17.139999  2.210000  2.800000
2019-04-26  17.170000  2.170000  2.820000
2019-04-29  17.080000  2.220000  2.800000
2019-04-30  17.080000  2.170000  2.820000
2019-05-01  17.080000  2.150000  2.750000
2019-05-02  17.000000  2.150000  2.750000
2019-05-03  17.120001  2.150000  2.780000
2019-05-06  16.799999  2.130000  2.720000
2019-05-07  16.815001  2.120000  2.690000

[463 rows x 3 columns]

In [68]:
ds.columns[ds.isna().any()]

Index(['SBB.AX'], dtype='object')

In [10]:
ds

      PMV.AX  KMD.AX  SBB.AX  NBL.AX
Date     NaN     NaN     NaN     NaN