In [14]:

import pandas as pd
import pandas_datareader.data as web   # Package and modules for importing data; this code may change depending on pandas version
import datetime
import numpy as np
import os
import random
from datetime import timedelta
import statsmodels.api as sm
# SARIMAX example
from statsmodels.tsa.statespace.sarimax import SARIMAX
import sys, getopt
start = datetime.datetime(2018, 1, 1).date()

end = datetime.datetime(2019, 5, 5)
remains=web.DataReader('PMV.AX',"yahoo",start,end)
remains

                 High        Low       Open      Close     Volume  Adj Close
Date
2018-01-01  14.880000  14.680000  14.880000  14.740000    99003.0  14.470819
2018-01-02  14.760000  14.520000  14.560000  14.730000   103416.0  14.461000
2018-01-03  15.060000  14.770000  14.770000  15.030000   203677.0  14.755523
2018-01-04  15.100000  14.900000  14.910000  15.010000    93233.0  14.735888
2018-01-07  15.170000  15.030000  15.030000  15.130000   136753.0  14.853697
2018-01-08  15.185000  14.870000  14.900000  15.080000   213811.0  14.804609
2018-01-09  15.380000  15.100000  15.160000  15.190000   403111.0  14.912601
2018-01-10  15.280000  15.120000  15.200000  15.190000   126418.0  14.912601
2018-01-11  15.200000  15.080000  15.100000  15.120000   180848.0  14.843879
2018-01-14  15.300000  15.150000  15.280000  15.180000    90209.0  14.902783
2018-01-15  15.300000  15.100000  15.180000  15.170000    89565.0  14.892966
2018-01-16  15.190000  15.030000  15.100000  15.040000   165648.0  14.765340
2018-01-17  15.160000  14.960000  15.040000  15.010000   150536.0  14.735888
2018-01-18  15.190000  15.000000  15.000000  15.120000   212042.0  14.843879
2018-01-21  15.230000  15.040000  15.110000  15.100000   143882.0  14.824244
2018-01-22  15.170000  14.980000  15.170000  14.990000   131594.0  14.716253
2018-01-23  15.070000  14.770000  14.990000  14.800000   159447.0  14.529723
2018-01-24  14.920000  14.630000  14.770000  14.920000   152442.0  14.647532
2018-01-28  15.040000  14.830000  14.920000  14.860000   112452.0  14.588627
2018-01-29  14.850000  14.650000  14.810000  14.720000   135158.0  14.451184
2018-01-30  14.850000  14.520000  14.700000  14.720000   205836.0  14.451184
2018-01-31  14.930000  14.670000  14.740000  14.910000   135492.0  14.637713
2018-02-01  15.030000  14.730000  14.870000  14.970000   426439.0  14.696619
2018-02-04  14.800000  14.420000  14.800000  14.470000   321662.0  14.205750
2018-02-05  14.130000  13.910000  14.000000  14.050000   557607.0  13.793420
2018-02-06  14.240000  13.880000  14.000000  14.000000   220308.0  13.744332
2018-02-07  14.070000  13.830000  13.830000  14.000000   348088.0  13.744332
2018-02-08  13.770000  13.600000  13.680000  13.700000   395417.0  13.449811
2018-02-11  13.700000  13.520000  13.630000  13.600000   251313.0  13.351638
2018-02-12  13.900000  13.540000  13.560000  13.900000   238294.0  13.646158
...               ...        ...        ...        ...        ...        ...
2019-03-20  16.559999  16.290001  16.299999  16.510000   414907.0  16.510000
2019-03-21  17.010000  16.120001  16.900000  16.400000  2108881.0  16.400000
2019-03-24  15.910000  15.110000  15.510000  15.800000   744890.0  15.800000
2019-03-25  16.030001  15.720000  15.910000  15.960000   371577.0  15.960000
2019-03-26  16.190001  15.820000  15.820000  16.030001   380312.0  16.030001
2019-03-27  16.450001  16.010000  16.040001  16.370001   306658.0  16.370001
2019-03-28  16.629999  16.260000  16.440001  16.260000   292159.0  16.260000
2019-03-31  16.320000  16.040001  16.260000  16.129999   273775.0  16.129999
2019-04-01  16.209999  16.059999  16.120001  16.100000   447463.0  16.100000
2019-04-02  16.120001  15.950000  16.100000  16.049999   631279.0  16.049999
2019-04-03  16.090000  15.550000  16.080000  15.650000   453566.0  15.650000
2019-04-04  15.810000  15.540000  15.600000  15.650000   310248.0  15.650000
2019-04-08  15.960000  15.670000  15.670000  15.900000   181956.0  15.900000
2019-04-09  15.980000  15.790000  15.980000  15.920000   136377.0  15.920000
2019-04-10  16.000000  15.870000  15.940000  15.930000   256862.0  15.930000
2019-04-11  16.010000  15.870000  15.900000  15.940000   158423.0  15.940000
2019-04-12  16.150000  15.900000  16.000000  16.120001   270758.0  16.120001
2019-04-15  16.120001  15.930000  16.120001  15.960000   156940.0  15.960000
2019-04-16  16.530001  15.980000  15.980000  16.360001   312136.0  16.360001
2019-04-17  16.440001  16.250000  16.350000  16.389999   184631.0  16.389999
2019-04-18  16.610001  16.410000  16.420000  16.559999   285508.0  16.559999
2019-04-23  16.719999  16.500000  16.559999  16.670000   403789.0  16.670000
2019-04-24  17.270000  16.760000  16.830000  17.139999   361920.0  17.139999
2019-04-26  17.260000  16.969999  17.260000  17.170000   227501.0  17.170000
2019-04-29  17.290001  17.040001  17.100000  17.080000   209951.0  17.080000
2019-04-30  17.145000  17.000000  17.000000  17.080000   258836.0  17.080000
2019-05-01  17.200001  17.010000  17.200001  17.080000   130620.0  17.080000
2019-05-02  17.139999  16.930000  17.139999  17.000000   135581.0  17.000000
2019-05-03  17.245001  16.980000  17.100000  17.120001   156074.0  17.120001
2019-05-06  17.020000  16.700001  16.840000  16.799999   185664.0  16.799999

[338 rows x 6 columns]

In [ ]:
stocks=loadStocksByTickers(tickers,path,outputfile)


stocks.columns

In [ ]:
errors=pd.DataFrame(['aaa','aba','aaa'],columns=['item'])