In [6]:
# -*- coding: utf-8 -*-

import pandas as pd
from sarimaxModel import forcastStocks
from loadstocks import loadStocksByTickers
from loadstocks import loadAuTickersFromYahooExcel
# We will look at stock prices over the past year, starting at January 1, 2016

path='/root/pythondev/JanePython/'
inputfile = path+'Yahoo.xlsx'
outputfile = path+'stocks2.csv'
stock_names=pd.read_excel(inputfile,header=3,usecols=4)
au_stocks=stock_names[stock_names['Country']=='Australia']
au_tickers=au_stocks[au_stocks['Category Name']=='Apparel Stores']

au_tickers

,Ticker,Name,Exchange,Category Name,Country
1233,BBG.AX,Billabong International Limited,ASX,Apparel Stores,Australia
1610,PMV.AX,Premier Investments Limited,ASX,Apparel Stores,Australia
7627,KMD.AX,Kathmandu Holdings Limited,ASX,Apparel Stores,Australia
8961,SFH.AX,Specialty Fashion Group Limited,ASX,Apparel Stores,Australia
17727,ORL.AX,OrotonGroup Limited,ASX,Apparel Stores,Australia
40818,SBB.AX,Sunbridge Group Limited,ASX,Apparel Stores,Australia
40839,RCG.AX,RCG Corporation Limited,ASX,Apparel Stores,Australia
89289,NBL.AX,Noni B Limited,ASX,Apparel Stores,Australia

In [7]:
len(au_tickers)

8